.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  width: 800px;
  height: 100px;
  margin-top: 0px;
}
.header ul {
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* padding-left: 100px; */
  list-style-type: none;
  position: center;
}
.header ul li {
  display: inline-block;
}

.form-input {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

input {
  border: 2px solid #eee;
  padding: 5px 10px 5px 50px;
  font-size: 18px;
  line-height: 30px;
  display: block;
  width: 50%;
  outline: 0;
  
}

.icon {
  position: absolute;
  left: 290px;
  top: 0;
  font-size: 25px;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  margin-bottom: 50px;
 
}

input[type="submit"] {
 width: 10%;
 margin-left: 400px;
 text-align: center;
 padding-left: 0;
}